<div id="food" class="new-food">
    <button data-id="{{id}}" class="button delete-food-btn" style="margin: 0; display: inline;" type="button">Delete</button>
    <p style="margin: 0; display: inline; font-weight:bold;">{{food_name}}</p>
    <p class="nutrients" style="margin: 0; display: inline;"><bold>:</bold> {{calories}}kcal</p>
    <p class="nutrients" style="margin: 0; display: inline;">{{protein}}g protein</p>
    <p class="nutrients" style="margin: 0; display: inline;">{{carbs}}g carbs</p>
</div>